* {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s ease;
    user-select: none;
}

body {
    text-align: center;
}

h1 {
    font-size: 3em;
}

h3 {
    text-decoration: underline;
    margin-top: 2em;
}

p {
    font-size: 20px;
}

.container {
    min-width: 100vw;
    min-height: calc(100vh - 25px);
}

.gamebox {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    border-radius: 5px;
}

.title {
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 20px;
}

.title2 {
    font-size: 1.5em;
}

.fa {
    font-size: 6em;
    cursor: pointer;
    margin: 0.25em;
}

#rock {
    cursor: pointer;
}

#paper {
    cursor: pointer;
}

#scissors {
    cursor: pointer;
}

#reset {
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 5px;
    outline: 0;
}

#winner {
    font-weight: bold;
}

tbody {
    border-radius: 5px;
}

.score {
    margin: 4px;
    margin: 4px;
    font-size: 1.2em;
}

.computeranswer {
    margin: 2em;
}

table {
    border: 3px solid;
    margin: auto;
}

th {
    font-size: 2em;
    border-bottom: 2px solid black;
}

td {
    font-size: 1.5em;
}

td,
td {
    padding: .50em;
}

button {
    border: 2px solid #000;
    background: #fff;
    font-size: 1.5em;
    font-family: Monospace;
    margin: 1em;
    cursor: pointer;
}

button:hover {
    background: #000;
    color: #fff;
    border: 2px solid #000;
}

footer {
    align-items: flex-end;
    justify-content: center;
    text-align: center;

    a {
        color: #000;
    }
}

.gameVictory {
    padding: 20px;
    background-color: green;
    color: white;
    min-height: calc(100vh - 25px);
    text-align: center;
}

.gameOver {
    padding: 20px;
    background-color: red;
    color: white;
    min-height: calc(100vh - 25px);
    text-align: center;

}

@media (prefers-color-scheme: dark) {

    body,
    .gamebox,
    .container,
    footer a {
        background: #000;
        color: #fff;
    }

    footer {
        background: #000;
        color: #fff;
        border-top: solid 1px #fff;
    }

    table {
        border: 3px solid #fff;
        margin: auto;

    }

    .score {
        border-bottom: 3px solid #fff;
    }
}

@media (prefers-color-scheme: light) {

    body,
    .gamebox,
    .container,
    footer a {
        background: #fff;
        color: #000;
    }

    footer {
        background: #fff;
        color: #000;
        border-top: solid 1px #000;
    }

    table {
        border: 3px solid #000;
        margin: auto;
    }

    .score {
        border-bottom: 3px solid #000;
    }
}